# user-defined docker bridged network name
NETWORK=bidms_nw

KRB_REALM=EXAMPLE.COM
KRB_DOMAIN=example.com

# The location on the host to store the Kerberos data files.
# This is the /v1 volume within the container.
HOST_VOLUME_DIRECTORY=/tmp/kerberos
