# user-defined docker bridged network name
NETWORK=bidms_nw

KRB_REALM=EXAMPLE.COM
KRB_DOMAIN=example.com

# The location on the host to store the Kerberos data files.
# This is the /etc/krb5kdc volume within the container.
HOST_KERBEROS_DIRECTORY=/tmp/kerberos
